$orange         : #BD3613;
$blue           : #2176C7;
$patina         : #699;
$hopbush        : #c69;
$midnight-blue  : #036;
$dawn-pink      : #f2ece4;
$nebula         : #d2e1dd;
$wafer          : #e1d7d2;
$grey           : #c2ccd1;

$font-primary: Merriweather, serif;
$font-secondary: Bree Serif, serif;
$font-tertiary: Dosis;
$header-height: 100px;
$new-header-height: 50px;
$footer-height: 50px;
$section-height: 1000px;
$nav-height: 50px;
$main-height: 60px;
$main-width: auto;
$modal-height: 500px;
$modal-width: 250px;
$cc-height: 300px;
$cc-width: 400px;
$article-height: 200px;
$article-width: 300px;
$video-height: 300px;
$video-width: 400px;

$default-border-radius : 10px;